.headerButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.referenceContainer {
  overflow-y: scroll;
  height: 50%;
}

.flexBetweenCenter {
  display: flex;
  gap: 0.5rem;
}

h2 > span {
  font-size: 0.8rem;
  color: #a0a0a0;
  margin-left: 4px;
}
