.headerButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.referenceContainer {
  overflow-y: scroll;
  height: 50%;
}

.flexBetweenCenter {
  display: flex;
  gap: 0.5rem;
}

.flexItemsEnd {
  display: flex;
  gap: 0.1rem;
}

.flexItemsEnd span {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}
