.headerButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.referenceContainer {
  overflow-y: scroll;
  height: 50%;
}

.flexBetweenCenter {
  display: flex;
  gap: 0.5rem;
}
