@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본적으로 존재하는 모든 스타일 제거 */
* {
  /* 스크롤 눈에 안보이게 제거 하기 */
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  user-select: none;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html[data-theme="dark"] {
  --bg-color: theme("colors.bg.dark");
  --text-color: theme("colors.text.dark");
  --border-color: theme("colors.border.dark");
  --hover-color: theme("colors.bg.hover.dark");
  --active-color: theme("colors.bg.active.dark");
}

html[data-theme="light"] {
  --bg-color: theme("colors.bg.light");
  --text-color: theme("colors.text.light");
  --border-color: theme("colors.border.light");
  --hover-color: theme("colors.bg.hover.light");
  --active-color: theme("colors.bg.active.light");
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.reference:hover {
  background-color: var(--hover-color);
}
.reference:active {
  background-color: var(--active-color);
}
