.button {
  background-color: #12b886;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: #099268; /* 기본 배경색보다 어두운 톤 */
  color: #e6f7f1;
}

.button:focus-visible {
  background-color: #099268; /* 기본 배경색보다 어두운 톤 */
  color: #e6f7f1;
}

.button:active {
  background-color: #0ca678; /* 기본 배경색보다 더 어두운 톤 */
  color: #e6f7f1;
}

.button:disabled {
  pointer-events: none;
  background-color: #38d9a9;
  color: #d1d5db;
}

.iconButton {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f0f0f0;
  border-radius: 2rem;
  cursor: pointer;
}
