.contentScriptErrorButton {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #f44336; /* 빨간색 기본 배경색 */
  color: #fff;
}

.contentScriptErrorButton:hover {
  background-color: #d32f2f; /* 기본 배경색보다 어두운 톤 */
  color: #e6f7f1;
}

.contentScriptErrorButton:focus-visible {
  background-color: #d32f2f; /* 기본 배경색보다 어두운 톤 */
  color: #e6f7f1;
}

.contentScriptErrorButton:active {
  background-color: #b71c1c; /* 기본 배경색보다 더 어두운 톤 */
  color: #e6f7f1;
}

.contentScriptErrorButton:disabled {
  pointer-events: none;
  background-color: #f8d7da;
  color: #d1d5db;
}
