/* 기본적으로 존재하는 모든 스타일 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 스크롤 눈에 안보이게 제거 하기 */
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

main {
  flex-grow: 1;
}

button:hover {
  background-color: #f3f4f6; /* hover:bg-grey-50 */
  color: #1f2937; /* hover:text-grey-900 */
  border-color: #1f2937; /* hover:border-grey-900 */
}

button:focus-visible {
  background-color: #f3f4f6; /* focus-visible:bg-grey-50 */
  color: #1f2937; /* focus-visible:text-grey-900 */
  border-color: #1f2937; /* focus-visible:border-grey-900 */
}

button:active {
  background-color: #e5e7eb; /* active:bg-grey-100 */
  color: #1f2937; /* active:text-grey-900 */
  border-color: #1f2937; /* active:border-grey-900 */
}

button:disabled {
  pointer-events: none; /* disabled:pointer-events-none */
  background-color: #f9fafb; /* disabled:bg-grey-0 */
  color: #d1d5db; /* disabled:text-grey-300 */
  border-color: #d1d5db; /* disabled:border-grey-300 */
}
