@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본적으로 존재하는 모든 스타일 제거 */
* {
  /* 스크롤 눈에 안보이게 제거 하기 */
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --content-hover: #4a4a4a;
  --content-active: #3a3a3a;
}

html[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #212529;
  --content-hover: #f0f0f0;
  --content-active: #e0e0e0;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}
